/* ORDERS TABLE*/
.table-header-orders {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "customer product price id status"
  ;
  padding: 10px;
  border: 0.5px solid #dedcdc;
  background-color: rgb(52, 52, 52);
  color: rgb(196, 196, 196);
  font-weight: bold;
  
}

.table-row-orders {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "customer product price id status"
  ;
  grid-column-gap: 10px;
  padding: 10px;
  border: 0.5px solid #dedcdc;
  
}

.order-customer {
  grid-area: customer;
  width: 100px;
  
}

.order-product {
  grid-area: product;
  width: 200px;
  
}

.order-price {
  grid-area: price;
  width: 100px;
}

.order-id {
  grid-area: id;
  width: 200px;
  
}

.order-status {
  grid-area: status;
  width: 200px;
  
}

.order-table {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 30px;
  overflow: scroll;
  max-height: 550px;
  overflow-y: scroll;
  
}
